
GeospatialApi/GeospatialApi/bin/

GeospatialApi/.vs/

GeospatialApi/GeospatialApi/obj/

GeospatialApp/.vscode/

GeospatialApp/node_modules/

GeospatialApp/.angular/

GeospatialApi/OsmJsonToPostGis/bin/

GeospatialApi/OsmJsonToPostGis/obj/
